# Intro to python
*A good programmer should be able to pick up a new language in no more than a few hours just by reading the documentation*
- Geeks For Geeks (https://www.geeksforgeeks.org/python-programming-language/)
- What is Python?
- Why Learn Python?
- What is this programming environment?
### Outline
1. Variables and Data Structures
2. Operators
3. Control Flow
4. Functions
5. Modules
6. Object-Oriented Programming

In [ ]:
print("hello world")

# Variables and Data Structures

In other programming languages like C, C++, and Java, you will need to declare the type of variables but in Python you donâ€™t need to do that. Just type in the variable and when values will be given to it, then it will automatically know whether the value given would be an int, float, or char or even a String.

In [ ]:
myNumber = 3
print(myNumber,type(myNumber))

myNumber2 = 4.5
print(myNumber2,type(myNumber2))

myNumber ="helloworld"
print(myNumber,type(myNumber))

myNumber = 'A'
print(myNumber,type(myNumber))

In [ ]:
# creates an empty list
nums = []

# appending data in list
nums.append(21)
nums.append(40.5)
nums.append("String")

print(nums)

In [ ]:
# putting integer values
Dict = {1: 'Geeks', 2: 'For', 3: 'Geeks'}

print(Dict)

In [ ]:
# creates a tuple which is immutable
tup = ('Geeks', 'For', 'Geeks')

print(tup)

In [ ]:
# define a set and its elements
myset = set(["Geeks", "For", "Geeks"])

#as set doesn't have duplicate elements so, 1 geeks will not be printed
print(myset)

# Operators

In [ ]:
# python program to demonstrate the use of "/"
print(5/5)
print(10/2)
print(-10/2)
print(20.0/2)

In [ ]:
# python program to demonstrate the use of "//"
print(10//3)
print (-5//2)
print (5.0//2)
print (-5.0//2)

In [ ]:
# Examples of Arithmetic Operator
a = 9
b = 4
 
# Addition of numbers
add = a + b
 
# Subtraction of numbers
sub = a - b
 
# Multiplication of number
mul = a * b
 
# Modulo of both number
mod = a % b
 
# Power
p = a ** b
 
# print results
print(add)
print(sub)
print(mul)
print(mod)
print(p)

In [ ]:
# Examples of Relational Operators
a = 13
b = 33
 
# a > b is False
print(a > b)
 
# a < b is True
print(a < b)
 
# a == b is False
print(a == b)
 
# a != b is True
print(a != b)
 
# a >= b is False
print(a >= b)
 
# a <= b is True
print(a <= b)

In [ ]:
# Examples of Logical Operator
a = True
b = False
 
# Print a and b is False
print(a and b)
 
# Print a or b is True
print(a or b)
 
# Print not a is False
print(not a)

# note there are bitwise operators, but we do not show

In [ ]:
# Examples of Assignment Operators
a = 10
 
# Assign value
b = a
print(b)
 
# Add and assign value
b += a
print(b)
print(f'a: {a}')
# Subtract and assign value
b -= a
print(b)
 
# multiply and assign
b *= a
print(b)

In [ ]:
# Example Identity Operators in Python
a = 10
b = 20
c = a
 
print(a is not b)
print(a is c)
print(a is b)

In [ ]:
# Python program to illustrate
# not 'in' operator
x = 24
y = 20
list = [10, 20, 30, 40, 50]
 
if (x not in list):
    print("x is NOT present in given list")
else:
    print("x is present in given list")
 
if (y in list):
    print("y is present in given list")
else:
    print("y is NOT present in given list")

In [ ]:
# Program to demonstrate conditional operator
a, b = 10, 20
 
# Copy value of a in min if a < b else copy b
min = a if a < b else b
 
print(min)

# note there is operator preccendence and associativity, but we skip

# Control Flow

In [ ]:
# python program to illustrate If statement

i = 10

if (i > 15):
	print("10 is less than 15")
print("I am Not in if")

In [ ]:
# python program to illustrate If else statement

i = 20
if (i < 15):
	print("i is smaller than 15")
	print("i'm in if Block")
else:
	print("i is greater than 15")
	print("i'm in else Block")
print("i'm not in if and not in else Block")

In [ ]:
# loops
my_list = [0,1,2,3,5,8,13]
for val in my_list:
    print(val)

In [ ]:
dna = 'ATGCTTCTTATCTATTCGCTAGCTAGCTACGATCGAGCCTTCATTTGCAGA'
for bp in dna:
    print(bp)

In [ ]:
dna = 'ATGCTTCTTATCTATTCGCTAGCTAGCTACGATCGAGCCTTCATTTGCAGA'
for i in range(0,len(dna),3):
    print(i)
    print(dna[i:i+3])

In [ ]:
codons = []
dna = 'ATGCTTCTTATCTATTCGCTAGCTAGCTACGATCGAGCCTTCATTTGCAGA'
for i in range(0,len(dna),3):
    codons.append(dna[i:i+3])
codons

In [ ]:
# list comprehension
codons = [dna[i:i+3] for i in range(0,len(dna),3)]
codons

In [ ]:
# break and continue
codons = []
dna = 'ATGTTTCTTATCTATTCGCTAGCTAGCTACGATCGAGCCTTCATTTGCAGA'
for i in range(0,len(dna),3):
    if(dna[i:i+3] == 'TTT'):
        continue # skip over TTT for no good reason
    codons.append(dna[i:i+3])
    if(dna[i:i+3] == 'TAA' or dna[i:i+3] == 'TAG' or dna[i:i+3] == 'TGA'):
        print("stop")
        break # break for stop codons
print(len(codons))
'TTT' in codons

# Functions

![../codon_table.png](../images/codon_table.png)

In [ ]:
def transcription(dna):
    return dna.replace('T','U')
dna = 'ATGTTTCTTATCTATTCGCTAGCTAGCTACGATCGAGCCTTCATTTGCAGA'
rna = transcription(dna)
codon_table = {
    'AUG':'M'
}
def translation(rna):
    codons = [rna[i:i+3] for i in range(0,len(rna),3)]
    return [codon_table[codon] for codon in codons]
translation(rna)

# Modules

In [ ]:
# modules
!pip3 install biopython

In [106]:
from Bio.Data.CodonTable import standard_rna_table

In [107]:
standard_rna_table.forward_table

{'UUU': 'F',
 'UUC': 'F',
 'UUA': 'L',
 'UUG': 'L',
 'UCU': 'S',
 'UCC': 'S',
 'UCA': 'S',
 'UCG': 'S',
 'UAU': 'Y',
 'UAC': 'Y',
 'UGU': 'C',
 'UGC': 'C',
 'UGG': 'W',
 'CUU': 'L',
 'CUC': 'L',
 'CUA': 'L',
 'CUG': 'L',
 'CCU': 'P',
 'CCC': 'P',
 'CCA': 'P',
 'CCG': 'P',
 'CAU': 'H',
 'CAC': 'H',
 'CAA': 'Q',
 'CAG': 'Q',
 'CGU': 'R',
 'CGC': 'R',
 'CGA': 'R',
 'CGG': 'R',
 'AUU': 'I',
 'AUC': 'I',
 'AUA': 'I',
 'AUG': 'M',
 'ACU': 'T',
 'ACC': 'T',
 'ACA': 'T',
 'ACG': 'T',
 'AAU': 'N',
 'AAC': 'N',
 'AAA': 'K',
 'AAG': 'K',
 'AGU': 'S',
 'AGC': 'S',
 'AGA': 'R',
 'AGG': 'R',
 'GUU': 'V',
 'GUC': 'V',
 'GUA': 'V',
 'GUG': 'V',
 'GCU': 'A',
 'GCC': 'A',
 'GCA': 'A',
 'GCG': 'A',
 'GAU': 'D',
 'GAC': 'D',
 'GAA': 'E',
 'GAG': 'E',
 'GGU': 'G',
 'GGC': 'G',
 'GGA': 'G',
 'GGG': 'G'}

In [111]:
def transcription(dna):
    return dna.replace('T','U')
def translation(rna):
    codons = [rna[i:i+3] for i in range(0,len(rna),3)]
    return ''.join([standard_rna_table.forward_table[codon] for codon in codons])
dna = 'ATGTTTCTTATCTATTCGCTAGCTAGCTACGATCGAGCCTTCATTTGCAGA'
rna = transcription(dna)

translation(rna)

'MFLIYSLASYDRAFICR'

# Object-Oriented Programming

In [161]:
class Seq:
    """
    A class to represent a DNA sequence.

    ...

    Attributes
    ----------
    sequence : str
        first name of the person
    surname : str
        family name of the person
    age : int
        age of the person

    Methods
    -------
    info(additional=""):
        Prints the person's name and age.
    """
    def __init__(self,seq):
        """
        Constructs all the necessary attributes for the person object.

        Parameters
        ----------
            name : str
                first name of the person
            surname : str
                family name of the person
            age : int
                age of the person
        """
        self.seq = seq
    def __str__(self) -> str:
        return self.seq
    def reverse(self):
        return Seq(self.seq[::-1])
    def complement(self):
        a = self.seq.replace('A','X')
        a = a.replace('T','A')
        a = a.replace('X','T')
        a = a.replace('C','X')
        a = a.replace('G','C')
        a = a.replace('X','G')
        return Seq(a)
    def reverse_complement(self):
        return self.reverse().complement()
    def transcript(self):
        return Seq(self.seq.replace('T','U'))
    def translate(self):
        if('T' in self.seq):
            raise ValueError('This is DNA')
        codons = [self.seq[i:i+3] for i in range(0,len(self.seq),3)]
        return ''.join([standard_rna_table.forward_table[codon] for codon in codons])

In [165]:
dna = Seq('ATG')
dna.transcript().translate()

'M'